/* #region --index */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-top: 105px;

  color: #242424;
  background-color: #f4f4f4;
}

body {
  min-width: 100%;
  min-height: 100vh;
}
/* #endregion --index */

/* #region --app */
nav#header {
  position: fixed;
  top: 0;
  height: 105px;
  width: 100%;
  padding-inline: 200px;
  background-color: #16abf8;
  display: flex;
  place-items: center;
  z-index: 2;
}

main {
  padding-inline: 200px;
}

@media screen and (max-width: 1040px) {
  nav#header,
  main {
    padding-inline: 20px;
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.section-body {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
}

.add-btn {
  width: 159px;
  height: 54px;
  background-color: #16abf8;
  color: #f4f4f4;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 600;
}
/* #endregion --app */

/* #region --itemlist */
.dropdown {
  position: relative;
}
.dropdown-content {
  display: flex;
  position: absolute;
  margin-top: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* #endregion --itemlist */
